//- .menu_widget
.b-menu--item Часть 1: Список новостей
.b-menu--item Часть 2: Форма
.b-menu--item Часть 3: Блок с иконками
.b-menu--item Часть 4: Блок навигации
.b-menu--item Часть 5: Адаптация под устройства
.b-menu--item Часть 6: Оптимизация
