//-genetated file
script#AuthModal(type='text/template')
  include AuthModal/AuthModal
script#FeedbackModal(type='text/template')
  include FeedbackModal/FeedbackModal
script#MessageModal(type='text/template')
  include MessageModal/MessageModal
script#TestModal(type='text/template')
  include TestModal/TestModal
