@mixin fontme ($fontName, $fileName, $svgId){
  @font-face {
    font-family: $fontName;
    src: url('/styles/fonts/#{$fileName}.eot');
    src: url('/styles/fonts/#{$fileName}.eot?iefix') format("embedded-opentype"),
      url('/styles/fonts/#{$fileName}.svg##{$svgId}') format('svg'),
      url('/styles/fonts/#{$fileName}.woff') format('woff'),
      url('/styles/fonts/#{$fileName}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-smoothing: antialiased;
  }
}

@mixin btn-style ($width, $height) {
  width: $width;
  height: $height;
  line-height: $height;
  margin: 20px 0 0 30px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: Arimo;
  cursor: pointer;
  transition: opacity 1s ease-out 0;
  &:hover {
    opacity: 0.8;
    transition: opacity 1s ease-out 0;
  }
}