//- .news_item
.b-news-item--image(data-js-news-img)
.b-news-item--data.b-news-data(data-js-new-data)
	.b-news-data--date(data-js-news-date)
	a.b-news-data--title(data-js-news-title)
	.b-news-data--preview(data-js-news-preview)
