//- .menu_layout
.b-menu
  a(href='/index/section1').b-menu--item Часть 1: Список новостей
  a(href='/index/section2').b-menu--item Часть 2: Форма
  a(href='/index/section3').b-menu--item Часть 3: Блок с иконками
  a(href='/index/section4').b-menu--item Часть 4: Блок навигации
  a(href='/index/section5').b-menu--item Часть 5: Адаптация под устройства
  a(href='/index/section6').b-menu--item Часть 6: Оптимизация
