//- .message_modal
extends ../Modal/_Modal
block header
  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
block body
  .b-text(data-js-text) Форма успешно отправлена
//-block footer
