.index_page{
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  .b-feedback {
    width: 100%;
    // height: 400px;
    &--btn {
      @include btn-style(150px, 40px);
    }
  }
  .b-icons {
    margin: 10px 0 0 20px;
  }
  .b-icon {
    display: inline-block;
    margin: 0 10px;
    &--icon {
      width: 20px;
      height: 20px;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      &__photo {
        background-image: url(../images/sprites/icons.jpg);
        background-position: 183px 399px;
      }
      &__views {
        background-image: url(../images/sprites/icons.jpg);
        background-position: 152px 338px;
      }
      &__favorite {
        background-image: url(../images/sprites/icons.jpg);
        background-position: 183px 491px;
      }
    }
    &--font-icon,
    &--svg-icon {
      display: inline-block;
      vertical-align: middle;
      color: $c-gray;
    }
    &--text {
      color: $c-gray;
      display: inline-block;
      vertical-align: middle;
    }
  }
  @media #{$mq-width-mobile} {
    .b-feedback {
      height: auto;
      margin-top: 2rem;
      &--btn {
        @include btn-style(15rem, 4rem);
        margin: 0 auto;
        font-size: 1.5rem;
      }
    }
    .b-icons {
      margin: 2rem auto;
    }
    .b-icon {
      display: block;
      margin: 1rem 2rem;
      &--text {
        font-size: 1.2rem;
      }
    }
  }
}
